<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: October 16, 2024</h3>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScxLjb5AnlWmkN3ZdFJNqt36hYEq7vuk3tkzBGdQpG3tlSmVA/viewform?usp=sf_link" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>9:00</td>  <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:30</td>  <td>Introduction to R</td> 
      </tr>
      <tr> 
        <td>10:30</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Introduction to RMarkdown</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td>RMarkdown Basics</td>
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day one</td>
      </tr>
    </table>
</div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: October 17, 2024</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td>Creating RMarkdown Reports </td>
      </tr>
      <tr> 
        <td>09:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:00</td>  <td>Creating RMarkdown Reports (continued) </td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Practice with RMarkdown</td>
      </tr>
      <tr> 
        <td>11:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Wrap up and Exercises</td> 
      </tr>
      <tr> 
         <td>13:00</td>  <td>Finish day two</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfd7PVI_sisouTi1ln0QyoHDmH9JRehnIcNYVm0LuzPUbgqpA/viewform?usp=sf_link" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
